In [1]:
pip install pyodbc pandas

Requirement already satisfied: pyodbc in c:\users\compuser\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: pandas in c:\users\compuser\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\compuser\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\compuser\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\compuser\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\compuser\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\compuser\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyodbc
import pandas as pd

# Step 1: Define SQL Server connection parameters
server = 'MESSAYD\MSSQLSERVER01'          # Replace with your server name
database = 'TigitWBG'      # Replace with your database name

# Step 2: Create the connection string using Windows Authentication
connection_string = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={server};"
    f"DATABASE={database};"
    "Trusted_Connection=yes;"
)

try:
    # Step 3: Establish the connection
    connection = pyodbc.connect(connection_string)

    # Step 4: Define the SQL query to calculate monthly revenue for the entire time range of the dataset
    query = """
    SELECT 
        FORMAT(InvoiceDate, 'yyyy-MM') AS YearMonth,  -- Formats the InvoiceDate as Year-Month
        SUM(Quantity * UnitPrice) AS MonthlyRevenue   -- Calculates total revenue for each month
    FROM 
        OnlineRetail
    WHERE 
        CustomerID IS NOT NULL  -- Exclude any null CustomerID values to ensure valid transactions
    GROUP BY 
        FORMAT(InvoiceDate, 'yyyy-MM')  -- Group by formatted Year-Month
    ORDER BY 
        YearMonth;  -- Order the results by Year-Month
    """

    # Step 5: Execute the query and fetch the results into a pandas DataFrame
    df = pd.read_sql(query, connection)

    # Step 6: Display the results
    print("Monthly Revenue for the Dataset's Time Range:")
    print(df)

except Exception as e:
    print("An error occurred while connecting to the database or executing the query:", e)

finally:
    # Step 7: Close the connection
    if 'connection' in locals():
        connection.close()

C:\Users\CompUser\AppData\Local\Temp\ipykernel_16912\309455427.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

Monthly Revenue for the Dataset's Time Range:
   YearMonth  MonthlyRevenue
0    2010-12      554604.020
1    2011-01      475074.380
2    2011-02      436546.150
3    2011-03      579964.610
4    2011-04      426047.851
5    2011-05      648251.080
6    2011-06      608013.160
7    2011-07      574238.481
8    2011-08      616368.000
9    2011-09      931440.372
10   2011-10      974603.590
11   2011-11     1132407.740
12   2011-12      342506.380